@import url('https://fonts.googleapis.com/css?family=Orbitron');


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #e99467 0%, #ec6748 100%);
}

.calc-wrapper {
  width: 400px;
}

/* When I set flex on the row, every button will show in one line */ 
.row {
  display: flex;
  width: 100%;
}